.pannel-overflow{
  height: 390px;
  overflow: scroll;
}

.panel{
  margin-top: 40px;
}

.btn-signup{
  margin-top: 10px;
}

.f_pass{
  text-align: center;
}


.wrapper-user{
  background: #AAAAAA;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.nav-name{
  font-size: 20px;
  text-decoration: none;
  color: $green;
  :hover{
    text-decoration: none;
  }
}
.navbar-wagon{
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
}
