<h1 class="text-center arabic-header">
  ماذا تحتاج ؟
  <div class="arabic-sub-header french-header">
    De quoi avez-vous besoin ?
  </div>
</h1>

<div id="categories" class="container text-center">
  <div class="row">
    <div class="col-xs-4 col-sm-2 col-sm-offset-2 category">
      <div id="graduation-cap">
        <i class="fa fa-graduation-cap fa-5x category_select"></i>
        <div class="arabic">تعليم</div>
        <div class="french">éducation</div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 category">
      <div id="bus">
        <i class="fa fa-bus fa-5x category_select"></i>
        <div class="arabic">تحرك</div>
        <div class="french">se déplacer</div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 category">
      <div id="cutlery">
        <i class="fa fa-cutlery fa-5x category_select"></i>
        <div class="arabic">أكل</div>
        <div class="french">manger</div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 category">
      <div id="balance-scale">
        <i class="fa fa-balance-scale fa-5x category_select"></i>
        <div class="arabic">إداري</div>
        <div class="french">administratif</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2 col-sm-offset-2 category">
      <div id="bed">
        <i class="fa fa-bed fa-5x category_select"></i>
        <div class="arabic">نوم</div>
        <div class="french">dormir</div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 category">
      <div id="medkit">
        <i class="fa fa-medkit fa-5x category_select"></i>
        <div class="arabic">طبيب</div>
        <div class="french">médecin</div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 category">
      <div id="shopping-cart">
        <i class="fa fa-shopping-cart fa-5x category_select"></i>
        <div class="arabic">هبة</div>
        <div class="french">donnation</div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-2 category">
      <div id="futbol-o">
        <i class="fa fa-futbol-o fa-5x category_select"></i>
        <div class="arabic">ترفيه</div>
        <div class="french">se divertir</div>
      </div>
    </div>
  </div>
</div>
