<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="banner">
        <h1>TELL US WHAT YOU NEED ?</h1>
        <div id="wrapper-form">
          <%= simple_form_for @request do |f| %>
            <%= f.input :content, label: false,autofocus: true, placeholder: "I need to know ... \n ... أحتاج أن أعلم", style: "line-height: 100px;" %>
            <%= f.input :category, as: :hidden,input_html: {value: @category} %>
            <%= f.button :submit, "post request", style: "width: 100%;line-height: 50px;", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


