<div class="banner">
  <div class="overlay">
    <h1>WHAT YOU NEED ?</h1>
  </div>
  <div id="wrapper-form">
    <%= simple_form_for(@request) do |f| %>
      <%= f.input :content %>
      <%= f.input :category %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
