<div class="banner">
  <div class="overlay">
    <h1>WHAT YOU NEED ?</h1>
  </div>
  <div id="wrapper-form">
    <%= form_tag(requests_path, class: "form-inline") do %>
       <%= text_field_tag :content, params[:content], class: "form-control fields custom-bar", id: "user_input_autocomplete_address", placeholder: 'Où cherchez-vous une visite ?' %>
       <%= button_tag(type: :submit, class: "btn-search-home") do %>
        <i class="fa fa-search"></i>
       <% end %>
    <% end %>
  </div>
</div>
