<h1 class="text-center arabic-header">
  ماذا تحتاج ؟
  <div class="arabic-sub-header french-header">
    De quoi avez-vous besoin ?
  </div>
</h1>


<div class="container text-center">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 category">
      <i class="fa fa-graduation-cap fa-5x category_select"></i>
      <div class="arabic">تحدث الفرنسية</div>
      <div class="french">parler français</div>
    </div>
    <div class="col-xs-6 col-sm-4 category">
      <i class="fa fa-bus fa-5x category_select"></i>
      <div class="arabic">تحرك</div>
      <div class="french">se déplacer</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 category">
      <i class="fa fa-cutlery fa-5x category_select"></i>
      <div class="arabic">أكل</div>
      <div class="french">manger</div>
    </div>
    <div class="col-xs-6 col-sm-4 category">
      <i class="fa fa-bed fa-5x category_select"></i>
      <div class="arabic">نوم</div>
      <div class="french">dormir</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 category">
      <i class="fa fa-medkit fa-5x category_select"></i>
      <div class="arabic">طبيب</div>
      <div class="french">médecin</div>
    </div>
    <div class="col-xs-6 col-sm-4 category">
      <i class="fa fa-home fa-5x category_select"></i>
      <div class="arabic">منزل</div>
      <div class="french">accueil</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 category">
      <i class="fa fa-beer fa-5x category_select"></i>
      <div class="arabic">خروج</div>
      <div class="french">sortir</div>
    </div>
    <div class="col-xs-6 col-sm-4 category">
      <i class="fa fa-balance-scale fa-5x category_select"></i>
      <div class="arabic">إداري</div>
      <div class="french">administratif</div>
    </div>
  </div>
</div>
