<div class="container text-center">
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-sm-offset-3">
      <i class="fa fa-graduation-cap fa-5x category_select"></i>
    </div>
    <div class="col-xs-6 col-sm-3">
      <i class="fa fa-bus fa-5x category_select"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-sm-offset-3">
      <i class="fa fa-cutlery fa-5x category_select"></i>
    </div>
    <div class="col-xs-6 col-sm-3">
      <i class="fa fa-bed fa-5x category_select"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-sm-offset-3">
      <i class="fa fa-medkit fa-5x category_select"></i>
    </div>
    <div class="col-xs-6 col-sm-3">
      <i class="fa fa-home fa-5x category_select"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-sm-offset-3">
      <i class="fa fa-beer fa-5x category_select"></i>
    </div>
    <div class="col-xs-6 col-sm-3">
      <i class="fa fa-balance-scale fa-5x category_select"></i>
    </div>
  </div>
</div>
