.requestcard{
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: all 0.2s ease-in;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #D5D5D5;
  margin-bottom: 10px;
  .picto{
    flex: start;
    // line-height: 80px;
    // width: 80px;
  };
  .content{
    text-align: left !important;
    flex: 1;
    margin-left: 15px;
  }
  .status{
    padding-right: 15px;
    width: 150px;
  }
}

.requestcard:hover{
  background-color: #fbfbfb;
}


.panel #requests a {
  color: inherit;
  text-decoration: none;
 &:hover, &:focus, &:active {
  color: inherit;
  text-decoration: none;
 }
}
